:root {
  --white: #ffff;
  --whitesmoke: #f2f2f2;
  --gray0: #e5e5e5;
  --gray1: #b2becd;
  --gray2: #333333;
  --gray3: #212121;
  --gray4: #ff79a5;
  --gray5: #f2f2f2;
  --french0: #3a3335;
  --french1: #d81e5b;
  --french2: #f0544f;
  --french3: #fdf0d5;
  --french4: #c6d8d3;
}

div {
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.dark {
  --bg-nav: var(--gray3);
  --bg: linear-gradient(to bottom, var(--gray3), var(--gray2));
  --bg-bot: var(--gray2);
  --type: var(--gray4);
  --backdrop: var(--gray5);
}

.french {
  --bg-nav: var(--french4);
  --bg: linear-gradient(to bottom, var(--french4), var(--french3));
  --bg-bot: var(--french3);
  --type: var(--french2);
  --backdrop: var(--french1);
}
